@import url(./style.css);






.first-section {
    height: 500px;
    /* background-color: green; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url('/img/landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section p {
    /* color:rgb(184, 184, 184); */
    /* background: linear-gradient(30deg, red, green, blue); */
    /* color: linear-gradient(30deg, red, green, blue) */
    background: -webkit-linear-gradient(#4cea59, #32ebe8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-section button {
    background-color:rgb(178, 190, 173);
    border-radius: 10px;
}

.second-section {
    height: 50px;
    /* background-color: palegreen; */
}

.third-section {
    height: auto;
    /* background-color: yellow; */
}

.pages-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}


.pages-bar div * {
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}

/* .indicator {
    cursor: pointer;
    background-color: rgba(102, 247, 198, 0.5);

}

.indicator:hover {
    background-color: rgba(66, 253, 191, 0.8);
}

.indicator:active {
    background-color: rgba(0, 255, 170, 0.98);
} */


.card {
    height: 300px;
    background-color: rgb(240, 224, 190);
    border: 5px double gray;
    border-radius: 10px;
    overflow: auto;
}